<app-statistics></app-statistics>

<div class="hide-print">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Data</legend>
      <input
        type="number"
        [min]="minYear"
        [max]="maxYear"
        formControlName="year"
      />
      <input type="number" min="1" max="12" formControlName="month" />
      <input type="number" min="1" max="31" formControlName="day" />
    </fieldset>

    <fieldset>
      <legend>Servizio</legend>

      <div>
        <label>
          Pranzo
          <input
            type="radio"
            name="serviceType"
            value="lunch"
            formControlName="serviceType"
          />
        </label>
        <label>
          Cena
          <input
            type="radio"
            name="serviceType"
            value="dinner"
            formControlName="serviceType"
          />
        </label>
        <label>
          Non Definito
          <input
            type="radio"
            name="serviceType"
            value="unknown"
            formControlName="serviceType"
          />
        </label>
      </div>

      <div>
        <label>
          Cibo
          <input type="number" min="1" max="5" formControlName="food" />
        </label>
      </div>

      <div>
        <label>
          Servizio
          <input type="number" min="1" max="5" formControlName="service" />
        </label>
      </div>

      <div>
        <label>
          Location
          <input type="number" min="1" max="5" formControlName="location" />
        </label>
      </div>

      <div>
        <label>
          Accoglienza
          <input type="number" min="1" max="5" formControlName="hospitality" />
        </label>
      </div>
    </fieldset>

    <fieldset>
      <legend>Come ci hai conosciuto</legend>
      <div>
        <label>
          Facebook / Google
          <input
            type="radio"
            name="howKnowUs"
            value="social"
            formControlName="howKnowUs"
          />
        </label>
      </div>
      <div>
        <label>
          Passaparola / Amici
          <input
            type="radio"
            name="howKnowUs"
            value="friend"
            formControlName="howKnowUs"
          />
        </label>
      </div>
      <div>
        <label>
          Sono cliente da tempo
          <input
            type="radio"
            name="howKnowUs"
            value="client"
            formControlName="howKnowUs"
          />
        </label>
      </div>
    </fieldset>

    <button type="submit" [disabled]="!form.valid">Salva</button>
  </form>
  <!--
  <search (results)="$filteredCards.set($event)" />

  <div class="card-results">
    @for(card of $filteredCards(); track card) {
    <card [card]="card" (delete)="deleteCard(card)" />
    }
  </div> -->

  <div class="notification" [hidden]="!$showNotifications()">
    Cartolina aggiunta!
  </div>
</div>
